<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventConfig" type="CED.Config.EventConfigSection, CED"/>
  </configSections>
  <eventConfig throwOnErrors="true">
    <events>
      <event>
        <producer qualifiedClassName="CED.Tests.Core.Producer, CED.Tests.Core" eventName="NoDataEvent" />
        <consumers>
          <consumer qualifiedClassName="CED.Tests.Core.Consumer, CED.Tests.Core" methodName="TriggerNoData" />
        </consumers>
      </event>

      <event>
        <producer qualifiedClassName="CED.Tests.Core.Producer, CED.Tests.Core" eventName="IntEvent" />
        <consumers>
          <consumer qualifiedClassName="CED.Tests.Core.Consumer, CED.Tests.Core" methodName="TriggerInt" />
        </consumers>
      </event>

      <event>
        <producer qualifiedClassName="CED.Tests.Core.Producer, CED.Tests.Core" eventName="StaticNoDataEvent" findInstance="false" />
        <consumers>
          <consumer qualifiedClassName="CED.Tests.Core.Consumer, CED.Tests.Core" methodName="StaticTriggerNoData" findInstance="false"  />
        </consumers>
      </event>

      <event>
        <producer qualifiedClassName="CED.Tests.Core.Producer, CED.Tests.Core" eventName="StaticIntEvent" findInstance="false"  />
        <consumers>
          <consumer qualifiedClassName="CED.Tests.Core.Consumer, CED.Tests.Core" methodName="StaticTriggerInt" findInstance="false"  />
        </consumers>
      </event>
    </events>
  </eventConfig>
</configuration>