<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventConfig" type="CED.Config.EventConfigSection, CED"/>
  </configSections>
  <eventConfig throwOnErrors="false">
    <events>
      <event>
        <producer qualifiedClassName="testQualifiedClassName" eventName="testEventName" />
        <consumers>
          <consumer qualifiedClassName="testQualifiedClassName2" methodName="testMethodName" />
        </consumers>
      </event>
    </events>
  </eventConfig>
</configuration>