<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventConfig" type="CED.Config.EventConfigSection, CED"/>
  </configSections>
  <eventConfig throwOnErrors="false">
    <events>
      <event>
        <producer qualifiedClassName="CED.Tests._461.Producer, CED.Tests.461" eventName="NoDataEvent" />
        <consumers>
          <consumer qualifiedClassName="CED.Tests._461.Consumer, CED.Tests.461" methodName="TriggerNoData" />
        </consumers>
      </event>

      <event>
        <producer qualifiedClassName="CED.Tests._461.Producer, CED.Tests.461" eventName="IntEvent" />
        <consumers>
          <consumer qualifiedClassName="CED.Tests._461.Consumer, CED.Tests.461" methodName="TriggerInt" />
        </consumers>
      </event>

      <event>
        <producer qualifiedClassName="CED.Tests._461.Producer, CED.Tests.461" eventName="StaticNoDataEvent" findInstance="false" />
        <consumers>
          <consumer qualifiedClassName="CED.Tests._461.Consumer, CED.Tests.461" methodName="StaticTriggerNoData" findInstance="false"  />
        </consumers>
      </event>

      <event>
        <producer qualifiedClassName="CED.Tests._461.Producer, CED.Tests.461" eventName="StaticIntEvent" findInstance="false"  />
        <consumers>
          <consumer qualifiedClassName="CED.Tests._461.Consumer, CED.Tests.461" methodName="StaticTriggerInt" findInstance="false"  />
        </consumers>
      </event>
    </events>
  </eventConfig>
</configuration>